.root {
    -fx-background-color: #F5F5F5;
}
.button{
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
    -fx-border-radius: 50%;
    -fx-color: rgb(79, 79, 216);
    -fx-background-radius: 15px;
    -fx-width: 50px;
    -fx-border-width: 10px;
 }
.label{
    -fx-font-family: Arial;
    -fx-font-size: 24pt;
 }
VBox {
    -fx-background-color: red;
}
.left-side{
    -fx-background-color: #EBEBEB;
}
.channels{
    -fx-background-color: #F0F0F0;
}
.bulletin{
    -fx-background-color: #F5F5F5;
}
.members-list{
    -fx-background-color: #F0F0F0;
}
.search-bar{
    -fx-background-color: #444791;
}
